<div id="page_wrapper">
  <div id="profile_image">
    <!-- <%= image_tag "profile.jpeg" %> -->
  </div>

  <div id="content">
    <h1>Hello, I'm Gabriel Estes</h1>
    <p class="about-me">
      Originally, I come from a long history in music. It wasn't until 2015 when I began
      to consider a career in computer programming. My best friend had recently finished
      a 12-week intensive code school, and planted the seed by saying, "Gabe, I think
      you'd be great at this."
    </p>
    <br/>
    <p>
      The thought of being a programmer recurred every day
    </p>
  </div>
</div>
