<div id="page_wrapper">
  <div id="profile_image">
    <!-- <%= image_tag "profile.jpeg" %> -->
  </div>

  <div id="content">
    <h1>Books</h1>
    <p>
      Here is a collection of books I've read that are worth sharing. Most of them
      are recommendations by Tim Ferriss, Seth Godin, or Derek Sivers.
    </p>
    <hr/>
    <br>
  </div>
  <div class="book">
    <div class="thumbnail col-sm-4">
        <%= image_tag "war_of_art.jpg", class:"book-cover" %>
    </div>
    <div class="book-review col-sm-6">
      <h4>The War of Art by Steven Pressfield</h4>
    </div>
  </div>
</div>
